http://www.tiinside.com.br/rss.rss
http://feeds.feedburner.com/linuxtoday/linux
http://feeds.feedburner.com/NoticiasLinux
http://www.linuxfoundation.org/news-media/news/rss.xml
http://www.debian.org/News/project/dwn.en.rdf
http://www.forbes.com/technology/feed/
http://rss.idgnow.com.br/c/32184/f/499640/index.rss
